.logo 
{
    margin-left: 220px;
    margin-top: 35px;
}

#search-box
{
    margin-right: 57px;
    padding-left: 595px;
    padding-right: 647px;  
    background-color: white;
    margin-left: -989px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#click-search
{
    margin-left: 320px;
}

.page-header 
{
    .panel.wrapper 
    {
		border-bottom: 0px solid #e8e8e8;
		background-color: #32242400;
	}	
    position: absolute;
	width:100%;
}

.navigation 
{
	.level0 
	{
		>.level-top 
		{
			color: #0d0d0d;
			line-height: 53px;
			margin-left: 30px;
			font-size: 22px;
			margin-top: 30px;
		}
	}
	background-color: #32242400;
    font-weight: 908;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 50%;
    z-index: 3;
    margin-right: 200px;
}

.block-search 
{
	.action.search 
	{
		display: inline-block;
		background-image: none;
		background: none;
		-moz-box-sizing: content-box;
		border: 0;
		box-shadow: none;
		line-height: inherit;
		margin: 0;
		padding: 0;
		text-decoration: none;
		text-shadow: none;
		font-weight: 400;
		position: absolute;
		right: 270px;
		top: -40px;
		z-index: 1;
		padding: 5px 15px 5px 15px;
	}
	input
	{
		margin-left: 40px;
		position: absolute;
		width: 700px;   
	}
}

#click-me
{
    margin-left: -40px;
    margin-top: -74px;
    background-color: white;
}
.expand
{	
	padding-bottom: 33px;
}

.header.panel 
{
	>.header.links 
	{
		margin-right: 115px;
		>li 
		{
			color:black;
			font-weight: bold;
			font-size: 16px;
			>a 
			{
				&:visited 
				{
					color: #090808;
					text-decoration: none;
				}
				font-weight: bold;
				font-size: 17px;
			}
		}
	}
}

.minicart-wrapper 
{
    margin-right: 5px;
	margin-top: -173px;
}

a 
{
	&:visited 
	{
		color: #101112;
	}
}
.alink 
{
	&:visited 
	{
		color: #101112;
	}
}
.text
{
	font-size: 17px;
}

#select_lang
{
	background: #fff0;
    background-size: auto;
	background-clip: padding-box;
	border: 0px;
	border-radius: 0px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	height: 32px;
	padding: 5px 10px 4px;
	vertical-align: baseline;
	width:105px;
	font-weight: bold;
}

#lang_icon
{
	color: black;
	font-size: 20px;
}

#user
{
	float: right;
	color: black;
	margin-top: 4px;
}
.page-bottom
{
	background: black;
	border: 0px solid #c2c2c2;
	border-radius: 0px;
	padding-bottom: 30px;
	padding-top: 55px;
}
.container1
{
	width: 1280px;
	height: 50px;
}
#stay_connected
{
	background: #0d0d0d;
	background-clip: border-box;
	background-clip: padding-box;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 32px;
	line-height: 1.42857143;
	padding: 0 9px;
	vertical-align: baseline;
	width: 250px;
	outline: 0;
	border-width: 0 0 2px;
	border-color: white;   
	margin-left: 30px;
}
#text
{
	font-size: 20px;
	color: white;
	border: none;
	font-weight: bold;
}

.shop
{
	margin-left:5px;
}
.shop2
{
	padding-left: 25px;
	padding-right: 25px;
}
